In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
from sqlalchemy import create_engine
#  driver://username:password@server:port/database
engine = create_engine(f'postgres://postgres:biqu92cala@localhost:5432/SQL-Challenge')
conn = engine.connect()
cursor = conn.execute("SELECT * FROM public.q1")

In [14]:
cursor

In [8]:
for item in cursor:
    print(item)

In [15]:
ID = []
for item in cursor:
    ID.append(item[0])

In [21]:

df = pd.DataFrame({'col1': ID})
df.head()

    col1
0  10001
1  10002
2  10003
3  10004
4  10005